<%- include('../partials/header') %>

<div class="clucks-list text-muted">
  <% for (let cluck of clucks) { %>
    <div class="card p-3 m-2">
      <div class="card-body">
        <p class="card-title"><strong><%= cluck.username %> • <%= cluck.created_at %></strong></p>
        <p class="card-text"><%= cluck.content %></p>
      </div>
      <img class="card-img-top" src="<%= cluck.image_url %>" />
    </div>
  <% } %>
</div>



<%- include('../partials/footer') %>
